{% extends 'base.html' %}

{% block title %}
About Thunderstone Quest Card Selector
{% endblock %}


{% block content %}
<h1>About Thunderstone Quest Card Selector</h1>
<p>
Combos per hero - when we select marketplace cards, try to get at least this many cards per hero which work well with them.<br/>
Also: we try to get monster cards matching at least one hero as well, unless 0 combos per hero has been selected.<br/>
Also: we prioritise cards which haven't been used in previous selections.
</p>
<ul>
<li> Call the app directly on pythonanywhere.com - <a href="https://campbsb.pythonanywhere.com/">https://campbsb.pythonanywhere.com/</a></li>
<li>Source code hosted on github (<a href="https://github.com/campbsb/ThunderstoneQuestCardSelector">https://github.com/campbsb/ThunderstoneQuestCardSelector</a>)</li>
<li>Author Steve Campbell
<li>Copyright Steve Campbell 2024
<li>License: GNU GPL v3 (<a href="https://www.gnu.org/licenses/gpl-3.0.en.html">https://www.gnu.org/licenses/gpl-3.0.en.html</a>)</li>
<li>The card database is copied from Paul Gestwicki's Thunderstone Quest Randomiser (<a href="https://github.com/doctor-g/ThunderstoneQuestRandomizer">https://github.com/doctor-g/ThunderstoneQuestRandomizer</a>)</li>
<li>Thunderstone Quest is property of Alderac Entertainment Group (<a href="https://www.alderac.com">https://www.alderac.com</a>)</li>
</ul>

<p>
Thunderstone Quest is property of Alderac Entertainment Group
<a href="https://www.alderac.com">https://www.alderac.com</a><br/>
</p>
<p>
    Back to <a href="../">Selecting Cards</a>
</p>

{% endblock %}