{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form_row %}

{% block title %}
Thunderstone Quest Card Selector
{% endblock %}


{% block content %}
<h1>Thunderstone Quest Card Selector</h1>

<form method="post">
    {{ form.csrf_token() }}
    <table>
        <tr>
            <td>{{ render_form_row([form.quests_selected]) }}</td>
            <td>
                <table>
                    <tr>{{ render_form_row([form.require_all_hero_classes]) }}</tr>
                    <tr>{{ render_form_row([form.combos_per_hero], row_class='top-padded') }}</tr>
                </table>
            </td>
        </tr>
        <tr><td colspan="2">{{ render_form_row([form.submit], row_class='centered') }}</td></tr>
    </table>
</form>

<p><strong>{{ message }}</strong></p>

{% if selected_sets %}
<p><strong>Cards taken from quests: {{ selected_sets[0].quests_csv }}</strong></p>
<p><table>
{% for selected in selected_sets %}
<tr><th class="results">Guardian:</th><td>{{ selected.guardian }} </td></tr>
<tr><th class="results">Heroes:</th><td>{{ selected.heroes_csv }} ({{ selected.combo_match_count }} combos)</td></tr>
<tr><th class="results">Monsters:</th><td>{{ selected.monsters_csv }} </td></tr>
<tr><th class="results">Market:</th><td>{{ selected.market_csv }} </td></tr>
<tr><th class="results">Rooms:</th><td>{{ selected.rooms_csv }} </td></tr>
<tr><td colspan="2">&nbsp;</td></tr>
{% endfor %}
</table></p>
{% endif %}


<p>
   <a href="about">About Thunderstone Quest Card Selector</a>
</p>

{% endblock %}